/*  your css code here. If applicable */
.header{
	text-align:center;
	padding:20px;
	background-color:black;
    color:white;
}

.container{
	justify-content: center;
	display:flex
}
.latest-news-section{
	background-color:  #f5f5f5;
	padding:10px;
	width:200px
}

.pictorial-news-section{
	text-align:center;
	background-color:  #f5f5f5;
	padding:20px;
	width:200px;
	
}
 .main-section{
	text-align:center;
	background-color:  #f5f5f5;
	padding:20px;
	width:200px;
	
}

.img1{
	height:150px;
	width:150px;
}